<h2>Prijava</h2>

<form method="POST" action="/login">
    <div class="mb-3">
        <label>KorisniÄko ime</label>
        <input name="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Lozinka</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <button class="btn btn-primary">Prijava</button>
    <a href="/register" class="btn btn-link">Registracija</a>
</form>
